/* General Styles */
.App {
    display: flex;
    flex-direction: column; 
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    background-color: #e5e9ec;
    text-align: center;
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.App-body {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    gap: 20px;   
    padding: 50px;         
}


.App-link {
    color: #61dafb;
}

.dark {
    background-color: #26272a;
}

.card {
    background-color: white;
    border-radius: 12px;  
    margin: 15px;       
    max-width: 450px;  
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.dark-card {
    background-color: #2a2a2a;
    border-radius: 12px; 
    padding: 15px;      
    margin: 15px;      
    max-width: 450px;  
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.center-content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 750px;
    max-width: 750px;
    box-sizing: border-box; 
}

.center-content label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;  
    max-width: 400px; 
    margin: 0.5rem 0;
    box-sizing: border-box; 
}

.center-content input {
    width: 100%;
    margin: 0.2rem 0;
    box-sizing: border-box;  
}

.fields-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;  
    max-width: 400px; 
    margin: 0.5rem 0;
    box-sizing: border-box;      
}

/* Appheader */

.app-header-container {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 20px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: .5px solid #aca1a1;
    line-height: 1.2;
    flex-direction: row;
    justify-self: center;
    background-color: #242435;
    color: white; 
}

.app-header-title {
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    height: 100%;
    flex-grow: 1;
    background: transparent; 
    margin-left: 60px;
    color: white; 
}

/* Sidebar */

.sidebar-container {
    position: absolute;
    top: 0;
    bottom: 0; 
    left: -250;
    width: 250px;
    pointer-events: none;
}

.sidebar-menu {
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: -250px; 
    width: 250px;
    overflow-y: auto;
    border-top: 1px solid #aca1a1;
    border-right: 1px solid #aca1a1;
    padding: 10px;
    box-sizing: border-box;
    transition: left 0.3s ease-in-out; 
    z-index: 1001;
}

.sidebar-visible {
    left: 0 !important;
    pointer-events: auto;
}

.sidebar-toggle-button {
    font-size: 30px; 
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    margin-left: 10px; 
    padding: 10px; 
    color: inherit; 
    outline: none;
    position: absolute; 
    top: 50%;
    left: 10px;
    transform: translateY(-50%); 
}

.sidebar-toggle-button:hover {
    opacity: 0.7;
}

.sidebar-menu ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #555;
}

.sidebar-menu ul li:last-child {
    border-bottom: none;
}

.sidebar-menu ul li a {
    text-decoration: none;
}

.dark-sidebar {
    background-color: #333;
    color: white; 
}

.light-sidebar {
    background-color: #ffffff;
    color: black;
}

/* Loader Styles */

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    z-index: 1000; 
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px; 
}

.loader-text {
    color: white;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Dark Mode Button */

.dark-mode-toggle-button {
    position: absolute;
    top: 10px;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff; 
}

.uniform-width {
    width: 100%; 
    max-width: 350px; 
    cursor: pointer;
    box-sizing: border-box; 
    padding: 5px 5px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input.uniform-width {
    cursor: text;
}

button.uniform-width {
    background-color: #3936f2;
    border: .5px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
}


.dark-mode-label,
.light-mode-label {
    display: block;
}

.dark-mode-label {
    color: white;
}

.light-mode-label {
    color: black;
}

.dark-mode-label input,
.light-mode-label input {
    margin-top: 5px;
}


.light-mode-label select, .dark-mode-label select {
    margin-top: 5px; 
}

.qr-zoomed-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: grid;
    place-items: center;
    height: 100vh;  
    z-index: 1000;
}

.qr-wrapper {
    cursor: pointer;
    padding: 15px;
    background-color: white;
}

a > span {
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dark-mode-text {
    color: white;
}

.light-mode-text {
    color: black;
}

/* Tags */

.in-progress-tag {
    display: inline-block;
    background-color: greenyellow;
    color: black;
    padding: 2px 10px;
    border-radius: 12px;
    margin-left: 5px; 
    font-size: 0.8em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.planned-tag {
    display: inline-block;
    background-color: orange;
    color: black;
    padding: 2px 10px;
    border-radius: 12px;
    margin-left: 5px; 
    font-size: 0.8em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Notifications */

.error-container {
    padding: 15px 20px; 
    border-radius: 5px;
    margin-top: 10px;
    margin-left: auto; 
    margin-right: auto; 
    display: flex;
    align-items: center;
    gap: 10px; 
    max-width: 500px; 
}


.error-icon {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

.dark-error {
    background-color: #d32f2f; 
    color: white;
}

.light-error {
    background-color: #ffcdd2;
    color: #d32f2f;
}

.success-container {
    background-color: #e6ffe6;
    border: 1px solid #00cc00;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.dark-success {
    background-color: #003300; 
    color: #00cc00;
}

.light-success {
    background-color: #e6ffe6; 
    color: #003300; 
}

.success-icon {
    margin-right: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Make sure the overlay is on top of other content */
  }
  
  .content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }

  .email-content {
    position: relative;
    z-index: 1;
  }
  
  .block-interactions {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2; /* Above .email-content */
    cursor: default;
  }
  
  

@media only screen and (max-width: 835px) {
    .App-body {
        flex-direction: column;
    }
    
    .card {
        width: 100%; 
        max-width: none; 
        margin: 15px 0; 
    }
}
