/* General Styles */
.App {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    background-color: #e5e9ec;
    text-align: center;
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.App-link {
    color: #61dafb;
}

.dark {
    background-color: #26272a;
}

.card {
    background-color: white;
    border-radius: 10px; 
    padding: 60px 100px 20px;  
    margin: 60px auto 250px;  
    max-width: 90vw;   
    overflow: hidden;   
    display: flex;  
    align-items: flex-start; 
    justify-content: center; 
}

.dark-card {
    background-color: #2a2a2a;
    border-radius: 10px; 
    padding: 60px 100px 20px;  
    margin: 60px auto 250px;  
    max-width: 90vw;   
    overflow: hidden;   
    display: flex;  
    align-items: flex-start; 
    justify-content: center; 
}

.center-content {
    padding: 20px;          
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 100%;            
    max-width: calc(90vw - 240px); 
}

.center-content label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px; 
    margin: 0.5rem 0;
}

.center-content input {
    width: 100%;
}

/* Appheader */

.app-header-container {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 20px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: .5px solid #aca1a1;
    line-height: 1.2;
    flex-direction: row;
    justify-self: center;
    background-color: #242435;
    color: white; 
}

.app-header-title {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    height: 100%;
    flex-grow: 1;
    background: transparent; 
    margin-left: 80px;
    color: white; 
}

/* Sidebar */

.sidebar-container {
    position: absolute;
    top: 0;
    bottom: 0; 
    left: -250;
    width: 250px;
    pointer-events: none;
}

.sidebar-menu {
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: -250px; 
    width: 250px;
    overflow-y: auto;
    border-top: 1px solid #aca1a1;
    border-right: 1px solid #aca1a1;
    padding: 10px;
    box-sizing: border-box;
    transition: left 0.3s ease-in-out; 
    z-index: 1001;
}

.sidebar-visible {
    left: 0 !important;
    pointer-events: auto;
}

.sidebar-toggle-button {
    font-size: 30px; 
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    margin-left: 30px; 
    padding: 10px; 
    color: inherit; 
    outline: none;
    position: absolute; 
    top: 50%;
    left: 10px;
    transform: translateY(-50%); 
}

.sidebar-toggle-button:hover {
    opacity: 0.7;
}

.sidebar-menu ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #555;
}

.sidebar-menu ul li:last-child {
    border-bottom: none;
}

.sidebar-menu ul li a {
    text-decoration: none;
}

.dark-sidebar {
    background-color: #333;
    color: white; 
}

.light-sidebar {
    background-color: #f5f5f5;
    color: black;
}

/* Loader Styles */

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    z-index: 1000; 
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px; 
}

.loader-text {
    color: white;
    font-size: 16px;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Dark Mode Button */

.dark-mode-toggle-button {
    position: absolute;
    top: 10px;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff; /* Set the color to white */
}

.uniform-width {
    width: 200px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px 5px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;  /* Specifying a border width and color */
}

input.uniform-width {
    cursor: text;
}

button.uniform-width {
    background-color: #3936f2;
    border: .5px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
}

.dark-mode-label,
.light-mode-label {
    display: block;
}

.dark-mode-label {
    color: white;
}

.light-mode-label {
    color: black;
}

.dark-mode-label input,
.light-mode-label input {
    margin-top: 5px;
}


.light-mode-label select, .dark-mode-label select {
    margin-top: 5px; 
}

.qr-zoomed-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.qr-wrapper {
    cursor: pointer;
    padding: 15px;
    background-color: white;
}

a > span {
    display: block;
}

.dark-mode-text {
    color: white;
}

.light-mode-text {
    color: black;
}

/* Tags */

.in-progress-tag {
    display: inline-block;
    background-color: greenyellow;
    color: black;
    padding: 2px 10px;
    border-radius: 12px;
    margin-left: 5px; 
    font-size: 0.8em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.planned-tag {
    display: inline-block;
    background-color: orange;
    color: black;
    padding: 2px 10px;
    border-radius: 12px;
    margin-left: 5px; 
    font-size: 0.8em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Notifications */

.error-container {
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px; 
}

.error-icon {
    font-size: 20px;
    }

.dark-error {
    background-color: #d32f2f; 
    color: white;
}

.light-error {
    background-color: #ffcdd2;
    color: #d32f2f;
}

.success-container {
    background-color: #e6ffe6;
    border: 1px solid #00cc00;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.dark-success {
    background-color: #003300; 
    color: #00cc00;
}

.light-success {
    background-color: #e6ffe6; 
    color: #003300; 
}

.success-icon {
    margin-right: 10px;
}