.App {
  text-align: center;
  position: relative;
}

.App {
  transition: background-color 250ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #e5e9ec;
}

.dark {
  background-color: #26272a;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-content label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px; /* Width of the widest input box */
  margin: 0.5rem 0; /* Some vertical spacing */
}

.center-content input {
  width: 100%;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  display: flex;
  justify-content: center; /* Horizontally center the contents */
  align-items: center;     /* Vertically center the contents */
  flex-direction: column;  /* Stack the loader and the text vertically */
  z-index: 1000;           /* High z-index to ensure it overlays other elements */
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px; /* Some space between the loader and the text */
}

.loader-text {
  color: white;
  font-size: 16px;
  text-align: center;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.dark-mode-toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.uniform-width {
  background-color: white;
  color: black;
  width: 200px;
  
}

button.uniform-width {
  background-color: lightblue;
  color: black;
}

.dark .uniform-width {
  background-color: #333;
  color: white;
}

.dark button.uniform-width {
  background-color: #555;
  color: white;
}

.dark .dark-mode-label {
  color: white;
}

.light-mode-label {
  color: black;
}

.qr-zoomed-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:  100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* to ensure it's above other elements */
}

.qr-wrapper {
  cursor: pointer; /* to indicate clickable */
}