.App {
    text-align: center;
    position: relative;
}

.App {
    transition: background-color 250ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: #e5e9ec;
}

.dark {
    background-color: #26272a;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-content label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px; /* Width of the widest input box */
    margin: 0.5rem 0; /* Some vertical spacing */
}

.center-content input {
    width: 100%;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    display: flex;
    justify-content: center; /* Horizontally center the contents */
    align-items: center; /* Vertically center the contents */
    flex-direction: column; /* Stack the loader and the text vertically */
    z-index: 1000; /* High z-index to ensure it overlays other elements */
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px; /* Some space between the loader and the text */
}

.loader-text {
    color: white;
    font-size: 16px;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dark-mode-toggle-button {
    position: absolute;
    top: 10px;
    left: 64px;
    top: 50%;
    transform: translateY(-50%); 
}

.uniform-width {
    background-color: white;
    color: black;
    width: 200px;
}

button.uniform-width {
    background-color: lightblue;
    color: black;
}

.dark .uniform-width {
    background-color: #333;
    color: white;
}

.dark button.uniform-width {
    background-color: #555;
    color: white;
}

.dark .dark-mode-label {
    color: white;
}

.light-mode-label {
    color: black;
}

.qr-zoomed-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* to ensure it's above other elements */
}

.qr-wrapper {
    cursor: pointer; /* to indicate clickable */
    padding: 15px;
    background-color: white;
}

.error-container {
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px; /* Spacing between icon and text */
}

.error-icon {
    font-size: 20px; /* Adjust as needed */
}

.dark-error {
    background-color: #d32f2f; /* Dark mode error background */
    color: white;
}

.light-error {
    background-color: #ffcdd2; /* Light mode error background */
    color: #d32f2f;
}

.success-container {
    background-color: #e6ffe6; /* Default light green background */
    border: 1px solid #00cc00; /* Default green border */
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.dark-success {
    background-color: #003300; 
    color: #00cc00;
}

.light-success {
    background-color: #e6ffe6; 
    color: #003300; 
}

.success-icon {
    margin-right: 10px;
}

.sidebar-menu {
    background-color: #333;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 250px;
    transition: left 0.3s ease-in-out; 
    overflow-y: auto; 
    border-right: 1px solid #555;
    padding: 10px;
    box-sizing: border-box;
}

.sidebar-menu ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #555;
}

.sidebar-menu ul li:last-child {
    border-bottom: none;
}

.sidebar-menu ul li a {
    text-decoration: none;
}


.dark-sidebar {
    background-color: #333;
    color: white; 
}


.light-sidebar {
    background-color: #f5f5f5;
    color: black;
}

.dark-mode-text {
    color: white; 
}

.light-mode-text {
    color: black; 
}

a > span {
    display: block;
}

.app-header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    font-size: 14px; 
    line-height: 1.2; 
    display: flex;
    flex-direction: column;

}

.dark-header {
    color: white; 
}

.light-header {
    color: black;
}

.dark-mode-text {
    color: white; 
}

.light-mode-text {
    color: black; 
}

.sidebar-toggle-button {
    font-size: 24px; 
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    margin-left: 10px; 
    padding: 10px; 
    color: inherit; 
    outline: none;
    position: absolute; 
    top: 50%;
    left: 10px;
    transform: translateY(-50%); 
}

.sidebar-toggle-button:hover {
    opacity: 0.7; /* Adding a slight opacity change on hover */
}

.app-header-title {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
}

.dark-mode-text {
    color: white;
}

.light-mode-text {
    color: black;
}

